html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.image-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    position: relative;
}

.grid-image {
    width: 85%;
    height: 85%;
    object-fit: cover;
    cursor: pointer;
}

